# VPSI – Proměnné prostředí pro Docker Compose

# Databáze
DB_NAME=vpsi
DB_USER=vpsi
DB_PASSWORD=vpsi_dev
DB_PORT=5432

# API
API_PORT=5001

# Frontend
FE_PORT=5173

# HW Simulátor
SIMULATOR_SCENARIO=NormalFlow
